/* Fundo da tela */
.root {
    -fx-background-color: linear-gradient(to bottom right, #1e3c72, #2a5298);
    -fx-font-family: "Segoe UI", Arial, sans-serif;
}

/* Caixa central */
.vbox {
    -fx-background-color: #ffffff;
    -fx-padding: 40;
    -fx-spacing: 15;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0, 0, 5);
}

/* Título */
.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

/* Campos de texto */
.text-field, .password-field {
    -fx-pref-height: 40;
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-padding: 0 10 0 10;
    -fx-alignment:CENTER;
}

/* Foco nos inputs */
.text-field:focused, .password-field:focused {
    -fx-border-color: #2a5298;
    -fx-border-width: 2;
}

/* Botão */
.button {
    -fx-background-color: #2a5298;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

/* Hover botão */
.button:hover {
    -fx-background-color: #1e3c72;
}


.button.btnLogin{
    -fx-background-color: #42D624;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}
.button.btnLogin:hover{
 -fx-background-color: #5DCC47;
}
.button.btnLogin:pressed{
    -fx-background-color:#132600
}


.button.btnCadastro{
    -fx-background-color: #00E6FF ;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}
.button.btnCadastro:hover{
    -fx-background-color: #26C3D4;
}

.button.btnCadastro:pressed{
    -fx-background-color:#0F2240;
}

.button.btnReset{
    -fx-background-color: #929C32;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.button.btnReset:hover{
 -fx-background-color: #DAED45;
}