/* Fundo da Tela */

.root{
    -fx-background-color: linear-gradient(to bottom right, #1e3c72, #2a5298);
    -fx-font-family: "Segoe UI",Arial, sans-serif;
}

/* Bot達o */
.button {
    -fx-background-color: #2a5298;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

/* Hover bot達o */
.button:hover {
    -fx-background-color: #1e3c72;
}

/* Bot達o pressionado */
.button:pressed {
    -fx-background-color: #162d59;
}

/* Bot達o Logout */
#btnLogout {
    -fx-background-color: #dc2626;
    -fx-border-radius: 6;
}

#btnLogout:hover {
    -fx-background-color: #b91c1c;
}
